/* Set Icon Color */
.icon-color {
    color: #002f6C !important;
}

.header-text {
    font-size: 18px;
    color: #002f6c !important;
}

/* Set Reactable Hover Color */
.ReactTable .rt-tr:hover {
    background-color: #4EC3E0 !important;
    /* color: #ffffff; */
}

/* Set Dropdown Background Color */
.bootstrap-select .dropdown-toggle {
    /* Default styles for the pickerInput */
    background-color: #e9ecef !important;
    color: #000000;
}

/* Set Dropdown Hover Color */
.bootstrap-select .dropdown-toggle:hover {
    /* Styles to apply when hovering over the pickerInput */
    background-color: #0086BF !important;
    color: #ffffff;
    cursor: pointer;
}

/* Set Hover Color of Dropdown Items */
.dropdown-item:hover {
    background-color: #4EC3E0 !important;
    /* color: #ffffff; */
}

/* Set Button Color */
.btn-default {
    background-color: #002F6C !important;
    color: #ffffff;
}

/* Set Hover Color for Button */
.btn-default:hover {
    background-color: #0086BF !important;
    color: #ffffff;
    cursor: pointer;
}

/* Make sidebar toggle more visible */
.bslib-sidebar-layout>.collapse-toggle {
    padding: 20px 0;
    margin-bottom: 20px;
    background-color: #002F6C;
}

/* Change color of sidebar toggle caret to white for visibility */
.bslib-sidebar-layout>.collapse-toggle>.collapse-icon {
    fill: #ffffff !important;
}

/* Card Header Color */
.my-header-dkblue {
    background-color: #002F6C;
}

/* Target the header within the specific card underline navset */
.navset-card-underline .card-header {
    background-color: #002F6C !important;
    /* Change to your desired color */
    border-bottom: 2px solid #002F6C;
    /* Optional: change underline color */
}

.sidebar {
    overflow: visible !important;
    z-index: 10;
}

/* Slide Bar Color*/
.irs-bar,
.irs-bar-edge,
.irs-single,
.irs-grid-pol {
    background: #002F6C;
    border-color: #002F6C;
}

hr {
    border-top: 1px solid #000000;
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse;
}

tr,
td,
th {
    padding: 0em;
}